header {
    .navbar.bg-body-tertiary  {
    padding: 0;
    .container-fluid{
        background-color: #324949;
        height: 60px;
        margin: 0;
            .navbar-brand{
            margin: 0;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            .Conte1{
                background-color: #fff;
                border-radius: 80%;
                width: 30px;
                height: 30px;
                padding: 0;
                margin: 4px;
            }  
            }
    }
    }
    .navbar.navbar-expand-lg.bg-body-tertiary{
        .container-fluid{
            background-color: #0E8388;
            font-family: Arial, Helvetica, sans-serif;
            padding: 30px;
            height: 100px;
            #navbarNav{
                .navbar-nav.ml-auto{
                    .nav-item{
                        .nav-link.active{
                            color: #fff;
                            display: flex;
                            justify-content: flex-end;
                        } 
                    }
                }
            }
        }  
        }
    }

