
@import './generales';
@import './header';
@import './index';




footer{
    background-color: #324949;
    height: 100px;
    p{
        color: #fff;
        font-family: 'Roboto';
        font-size: small;
    }
    }

.imgmante{
    max-width: 100%;
    margin: 0;
    display: inline-block;
}

.tex1 h2{
    text-align: center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 0;
    margin: 15px;
    max-width: 100%;
}

.sec2 .row .col-sm-12.col-lg-3 {
    max-width: 100%;
    background-color: rgb(14, 131, 136);
    padding: 0;
    margin: 40px;
}

.sec2 .row {
    display: flex;
    justify-content: center;
}

.sec3{
    height: auto;
    display: inline-block;
}

.sec3 .sec31{
    max-width: 1493px;
    padding: 0px;
    margin: 0;
    display: inline-block;
    align-items: center;
}

.sec3 .sec31 div{
    max-width: 90%;
    padding: 0px;
    display: inline-block;
    align-items: center;

}

.sec31 .texto{
    width: 900px;
    display: inline-block;
    margin: 15px;
    padding: 0;
    top: 0;  
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.sec31 .texto h2{
    margin: 0px;
    padding: 0;
    top: 0;  
    font-family: Arial, Helvetica, sans-serif;
}

.sec31 .texto p{
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.sec31 div img{
    display: inline-block;
    margin: 0;
}

.mapa{
    max-width: 100%;
}

.redes .table{
    width: 1200px;
    right: 150px;
}

.imgredes{
    margin: 15px;
}

main h2{
    background-color: #0E8388;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


.cajas{
    width: 100%;
    display: inline-block;
}

.cajas div{
    display: inline-block;
    width: 33%;
} 